---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
  
    <title>{{ page.title }}</title>
    <meta name="author" content="Matt Scilipoti" />
    <base href="/gyst/"/>
    <link rel="icon" 
          type="image/png" 
          href="/favicon.png"/>
    <link rel="copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" type="text/html;charset=utf-8"/>
  
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <a href="">Home
      <img class="page-fold-left" src="images/altoids_toolbox.png" alt="Altoids Toolbox" title="Home" />
    </a>`
    
    <a href="http://github.com/mattscilipoti/gyst">
      <img class="page-fold-right" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>
  
    <div id="container">
  
      {{ content }}
  
      <div class="footer">
        <hr/>
        get the source code on GitHub (MIT License): 
        <a href="http://github.com/mattscilipoti/gyst">mattscilipoti/gyst</a>
      </div>
  
    </div>

  </body>
</html>

